/*.shop {
    flex-basis: 30%;
    border: 1px dotted rgb(15, 15, 15);
    padding: 0.1em;
    margin: 0 em;
    text-align: left;
    
    
}
.list {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pageHeader {
    text-align: center;
}

*/
 
*{
    border: 1px solid black;
}

body {
    background-color:lightblue;
}


h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    height:80vh;
}

.column-1, .column-2, .column-3, .column-4 {
    margin: 1em;
    padding: 1em;
    height: 30vh;
}

img {
    height: 200px;
    width: 200px;
}
